footer {
    text-align: center;
    margin-bottom: 2rem;

    color: var(--Footer-color);
}



:root {
    --Footer-color: rgb(168, 168, 168);
}
[data-theme="dark"] {
    --Footer-color: rgb(209, 209, 209);
}